/* Header Styles */
.container{
    vertical-align:top;
    width:50%;
    margin:5%;
    padding:1%;
    background-color:white;
    height: 10px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
.inline-block {
    display: inline-block;
    vertical-align:top;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 1%;
    padding: 1%;
    color:black;
    font-family:Arial, Helvetica, sans-serif;

}
.content{
    display: inline-block;
    vertical-align:top;
    width:80%;
    margin:10%;
    padding:1%;
    background-color:white;
    height: 200px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font: size 18px;
}

.logo{
    display: inline-block;
    vertical-align:top;
    width: 100%;
    padding-left:80%;
}

nav{
    width: 150%;
    padding: 1%;
    margin: 10%
}
ul{
    display:inline-block;
    vertical-align:top;
    width: 150%;
    margin-left:auto;
}



.button{
    background-color: rgb(29, 70, 87);
    color: rgb(253, 254, 251);
    height: 30px;
    width: 200px;
    border-radius: 20px;
}

footer{
    width:100%;
    margin:5%;
    padding:1%;
    background-color:white;
    height: 10px;
    color:black;
    background-color: white;
    padding: center;
}
