/* Header Styles */
#navigation{
    width:100%;
    margin:5%;
    padding:1%;
    background-color:white;
    height: 150pxpx;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font: size 18px;
}
.inline-block {
    display: inline-block;
    vertical-align:top;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

logo{
    display: inline-block;
    vertical-align:top;
    width: 23%;
    padding-left:1%;
    text-align:center;
}

nav{
    width: 100%;
    padding: 1%;
}
ul{
    width:100%;
    margin-left:auto;
}

.herolmg{
    height: 600px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto
}
.button{
    background-color: rgb(29, 70, 87);
    color: rgb(253, 254, 251);
    height: 30px;
    width: 200px;
    border-radius: 20px;
}

footer{
    width:100%;
    margin:5%;
    padding:1%;
    background-color:white;
    height: 150pxpx;
    color:black;
    background-color: white;
    padding: center;
}

.ul{
    display:inline-block;
    vertical-align:top;

}